.angele1::after {
   content: '';
   position: absolute;
   clip-path: polygon(0 0, 100% 0, 100% 54%, 0 29%);
   background-color: #fcce07;
   height: 140px;
   width: 100%;
   box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
}
