@each $key, $val in $colors {
   .text-#{$key} {
      color: $val;
   }
}
@each $key, $val in $colors {
   .bg-#{$key} {
      background-color: $val;
   }
}
@each $key, $val in $colors {
   .hover\:bg-#{$key} {
      &:hover {
         background-color: $val;
      }
   }
}
@each $key, $val in $colors {
   .hover\:text-#{$key} {
      &:hover {
         color: $val;
      }
   }
}
